@{
    ViewBag.Title = "Charts";
}

<h2>Charts</h2>

<div class="container">

    <h2>Sprint Burndown</h2>
    <p>
        <div id="sprintBurndownChart"></div>
    </p>

</div>

@section pageScript
{
    <script src="/Scripts/PageScripts/chartSprints.js"></script>
}